/* ==========================================================================
 * Modal Styles  
 * 09/11/2018
 * Alan Medina Silva
 ========================================================================== */


.xpl-appModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2000;
}

section.xpl-appModal-main{
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
}


i.fas.fa-times-circle {
    font-size: 2.2em;
    background-color: #fff;
    border: transparent;
    border-radius: 100%;
}

section.xpl-closButtonContainer {
    display: block;
    position: absolute;
    left: 89%;
    top: 36%;
    z-index: 2500;
}

.xpl-modalHeader {
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.xpl-modalFooter {
    padding: 10px;
    border-top: 1px solid #eee;
    margin-top: 12px;
}
