/* ==========================================================================
 * General Layout Styles 
 * 26/10/2018
 * Alan Medina Silva
 ========================================================================== */


/* ==================== CSS Structure ==================== 
     * 1.0 GENERAL STYLES	
     * 2.0 NAVBAR STYLES
     * 3.0 SIDEBAR STYLES
     * 4.0 CONTENT STYLES
        * 4.1 HOME STYLES
        * 4.2 FORM STYLES
     * 5.0 RESPONSIVE STYLES
     * IE HACKS
========================================================== */



/* ---------------------------------------------------
    1.0 GENERAL STYLES	
----------------------------------------------------- */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html, body, .App {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background-color: #F2F3F8;
        /* font-family: 'Lato', sans-serif; */
    }

    .App {
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
    }

    .column {
        display: -ms-flexbox;
        display: flex;
        -moz-box-direction: column;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .xpl-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        transition: all .3s ease-out;
    }


    .xpl-content .xpl-fullWidth {
        margin-left: -270px;
    }



    .xpl-shadow {
        box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
    }


    .xpl-appCategory {
        font-family: 'ITC Avant Garde';
    }

    p {
        font-family: 'Arimo', sans-serif;
        color: #6c757d;
    }

    h2, h3, h4, h5 {
        font-family: 'ITC Avant Garde';
    }

    .display-block {
        display: block;
    }
    
    .display-none {
        display: none;
    }




/* ---------------------------------------------------
    2.0 NAVBAR STYLES
----------------------------------------------------- */


    .xpl-appHeader {
        background-color: #000;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .xpl-appLogo {
        width: 80px;
        height: auto;
    }

    li.nav-item.active.xpl-userProfileLink {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .xpl-userName {
        font-size: 1.1em;
        font-weight: 100;
        font-family: 'ITC Avant Garde';
    }   


    .xpl-userImageMin {
        width: 45px;
        height: auto;
        border: .25rem solid transparent;
    }

    .xpl-rounded {
        border-radius: 50%!important;
    }
    



/* ---------------------------------------------------
    3.0 SIDEBAR STYLES
----------------------------------------------------- */
    .xpl-appSideBar {
        flex: 1 0 270px;
        flex-shrink: 0;
        overflow-x: hidden;
        background-color: #fff;
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
        transition: all .3s ease-out;
    }


    .xpl-appSideBarHeader {
        display: flex;
        flex-direction: column;       
    }

    .xpl-buttonCloseContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }


    .xpl-toggleButton {
        display: none;
        transition: all .3s ease-out; 
    }

    .xpl-toggleButton i {
        font-size: 1.2em;
    }

    .xpl-appSideBar .xpl-isCollapsed {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }

    .xpl-appSideBarBody {
        padding: 30px 10px 10px 10px;
        position: fixed;
        width: 270px;
    }

    .xpl-searchContainer {
        width: 100%;
        margin-bottom: 15px;
    }

    button.xpl-button.xpl-closeButton {
        padding: 10px;
        padding-right: 12px;
        font-size: 1.3em;
        display: none;
    }

    .xpl-appSideBarTitleContainer {
        width: 100%;
        display: block;
    }

    .xpl-appSideBarTitle {
        color: #686868;
        line-height: 30px;
        font-size: 28px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 12px;
    }

    .xpl-appSideBar .xpl-linksList li {
        list-style: none;
        text-align: justify;
        display: flex;
        flex-direction: row;
        font-weight: 200;
        font-family: 'ITC Avant Garde';
        cursor: pointer;
    }

    .xpl-sidebarLinksContainer {
        padding-left: 0px;
        margin-bottom: 0;
        margin-top: 0;   
    }

    .xpl-sidebarLink a {
        width: 100%;
    }


    /* Links Animation */
    .xpl-sidebarLink:hover {
        text-decoration : none;
        background-color: #f2f2f2;
    }

    .xpl-sidebarLink a:hover {
        text-decoration: none;
    }

    .xpl-iconContainer {
        width: 100%;
        display: flex;
        padding: 10px 10px 10px 0;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .xpl-iconHolder {
        display: block;
        width: 25px;
        height: auto;
        padding: 5px;
        margin-right: 5px;
    }

    .xpl-iconHolder i {
        color: #fff;
        text-align: center;
        display: block;
    }

    span.xpl-linkText {
        color: #000;
        padding: 0px 6px;
        text-decoration: none;
        text-transform : capitalize;
    }

    span .xpl-linksList:hover {
        text-decoration: none;
    }

    /* Details List */
    .xpl-appSidebarTitleContainer, .xpl-appSideBarSubCat  {
        padding: 8px 12px;
    }

    button.xpl-button.xpl-backButton {
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: start;
        vertical-align: middle;
        align-items: baseline;
    }

    button.xpl-button.xpl-backButton i{
        font-size: 24px;
        color: #fff;
        position: absolute;
        left: 14px;
        top: 93px;
    }


    .xpl-appSidebarTitleContainer span {
        color: #6c757d;
        font-size: 13px;
    }

    .xpl-breadcumbsContainer a {
        text-decoration: none;
        color: #2f323e;
    }


/* ---------------------------------------------------
    4.0 CONTENT STYLES
----------------------------------------------------- */

    /* ==========================================================================
     *  HOME STYLES
     ========================================================================== */

    .xpl-carrouselRow {
        margin-bottom: 24px;
    }

    .xpl-buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 0px;
    }



    .xpl-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }


    i.xpl-iconLeft {
        margin-right: 8px;
    }

    .xpl-addNewAppButton, .xpl-toggleButton {
        padding: 20px 7px;
        font-size: 1.2em;
    }

    .xpl-button.xpl-addNewAppButton i {
        margin-left: 8px;
    }


    .xpl-row {
        padding-left: 16px;
        padding-right:16px; 
    }


    .xpl-allAppTitle {
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .xpl-breadcumbsContainer {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding-left: 8px;
    }

    h4.xpl-breadChild {
        display: flex;
        flex-direction: column;
        padding: 0 8px 8px 8px;
    }



    /* ==========================================================================
     *  FORM STYLES
     ========================================================================== */

        .xpl-formSubmitContainer {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 20px;
        }

        .col-md-7.xpl-newCatButton .xpl-sidebarButton {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }


        .xpl-formSubmitContainer .xpl-materialButton {
            margin: 9px 0px 9px 9px;
        }


/* ---------------------------------------------------
    5.0 ANIMATIONS STYLES	
----------------------------------------------------- */

    .xpl-appSideBar.showMobileMenu {
        -webkit-transform: translateX(0%);
                    transform: translateX(0%);
        z-index: 100;
        flex: 1 0 100%;
    }


/* ---------------------------------------------------
    6.0 USER PROFILE STYLES	
----------------------------------------------------- */
    .xpl-profileContainer {
        margin-top: 60px;
    }
    
    .container-fluid.xpl-profileContainer h2 {
        margin-bottom: 32px;
    }



/* ---------------------------------------------------
    7.0 RESPONSIVE STYLES	
        Hide The SideBar and Displace Body
----------------------------------------------------- */

    /* ==========================================================================
    *  Mobile 
       ========================================================================== */

    
    @media only screen and (max-width:768px) {

        .App.xpl-mainContainer {
            margin-top: 24px;
        }

        .xpl-appSideBar {
            -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
        }

        .xpl-appSideBarBody {
            padding: 10px;
            position: fixed;
            width: 100%;
        }

        
        button.xpl-button.xpl-closeButton {
            display: block;
        }

        .xpl-appSideBarLinksContainer {
            padding: 10px 0px 0 10px;
        }

        .xpl-content  {
            margin-left: -300px;
        }

        .xpl-toggleButton {
            display: block;
            transition: all .3s ease-out;
        }

        .xpl-cardContainer {
            margin-bottom: 24px;
        }

        button.xpl-button.xpl-backButton i {
            left: 24px;
            top: 132px;
        }

        .xpl-cardWideHeader {
            justify-content: flex-start;
            width: 100%;
            flex-flow: column wrap;
        }

        .xpl-cardWideHeader .xpl-cardHeader {
            min-width: 180px;
            min-height: auto;
        }

        .xpl-cardProjectInfo {
            margin-top: 12px;
            margin-left: 0px;
            align-items: flex-start;
            padding: 8px;
        }

        .xpl-relatedListApps {
            margin-top: 20px;
        }



        p.xpl-cardProjectCardOverview {
            padding-left: 0;
        }

        .xpl-relatedContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .xpl-allAppTitle {
            text-align: center;
        }



        /* ==========================================================================
         *  Responsive Modal
         ========================================================================== */

        section.xpl-appModal-main{
            width: 90%;
            max-width: 100%;
            height: 90%;
            max-height: 100%;
        }

        .xpl-modalBodyScroll {
            padding: 10px;
        }

        .xpl-formSubmitContainer {
            justify-content: center;
        }


        /*  ==========================================================================
         *  Responsive Carrousel
            ========================================================================== */


            button.slick-arrow {
                z-index: 30000;
                width: 30px;
            }

        /*  ==========================================================================
         *  Responsive Tabs
            ========================================================================== */
        /* ul.react-tabs__tab-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
            overflow-x: auto;
            width: 100%;
        } */
        
        .react-tabs__tab {
            max-width: 70px;
            padding: 20px;
        }


        /* ==========================================================================
         *  Responsive Breadcumbs
         ========================================================================== */
        .xpl-breadcumbsContainer {
            width: 100%;
            justify-content: center;
        }

        .xpl-breadcumbsContainer a {
            text-decoration: none;
            color: #2f323e;
        }

        h4.xpl-breadChild {
            font-size: 20px;
        }
    
    }

    /* ==========================================================================
    *  Ipad 
    ========================================================================== */



    @media only screen and (min-width:768px) and (max-width : 1024px) {
        .xpl-relatedListApps {
            margin-top: 20px;
        }

        .xpl-mediumCard {
            max-width: 600px;
        }

        .react-tabs__tab {
            position: relative;
            display: inline-flex;
            flex: 0 0 auto;
            max-width: 100px;
            padding: 20px;
        }
    }   








/* ---------------------------------------------------
    IE Hacks
----------------------------------------------------- */
    .xpl-contentIE {
        background-color: #edf1f5;
        width: 87% !important;
        overflow: auto !important;
    }

    .xpl-appHeaderContainer {
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 60px;
        background-color: #2f323e;
    }



