/* ==========================================================================
 * Custom Tab Styles
 * Following Material Design 
 * 15/11/2018
 * Alan Medina Silva
 ========================================================================== */

.react-tabs {
    width: 100%;
    overflow: hidden;
}


.xpl-scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.xpl-scrolling-wrapper::-webkit-scrollbar {
    display: none; 
} 


ul.react-tabs__tab-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.react-tabs__tab {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 22px;
    font-weight: 600;
    color: #424f5a;
    text-align: center;
    width: 100%;
    transition: left .2s ease;
    -webkit-transition: left .2s ease;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
}

.react-tabs__tab:hover {
    background-color: inherit;
    color: #7c848a;
}


.react-tabs__tab--selected > a{
    font-weight: 700;
    outline:none;
}

.react-tabs__tab--selected {
    border-bottom: 3px solid #458CFF;
    transition: left .2s ease;
    -webkit-transition: left .2s ease;
}

.xpl-tabArrow {
    position: absolute;
    font-size: 24px;
    z-index: 1000;
}

.xpl-tabLeftArrow{
    /* top: 30px;
    left: 25px; */
    top: 71px;
    left: -39px;
}

.xpl-tabRightArrow {
    /* top: 30px;
    right: 20px; */
    top: 68px;
    right: -48px;
}
    
