@font-face {
  font-family: 'ITCAvantGardeStd-BkObl';
  src: url('ITCAvantGardeStd-BkObl.eot');
  src: url('ITCAvantGardeStd-BkObl.woff2') format('woff2'),
       url('ITCAvantGardeStd-BkObl.woff') format('woff'),
       url('ITCAvantGardeStd-BkObl.ttf') format('truetype'),
       url('ITCAvantGardeStd-BkObl.svg#ITCAvantGardeStd-BkObl') format('svg'),
       url('ITCAvantGardeStd-BkObl.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

