/* ==========================================================================
 * Project Card Layout Styles 
 * 29/10/2018
 * Alan Medina Silva
 ========================================================================== */


/* ==================== CSS Structure ==================== 
     * 1.0 Normal Card Projects List	
     * 2.0 Wide Card For Details View
========================================================== */



/* ---------------------------------------------------
    1.0 Normal Card Projects List
----------------------------------------------------- */


    .xpl-cardContainer {
        width: 100%;
        display: block;
        border-radius: 20px;
    }

    .xpl-mediumCard {
        max-width: 350px;
        margin-bottom: 24px;
    }



    .xpl-cardHeader {
        background-color: #238ECC;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;
        color: #fff;
        border-radius: 3px 3px 0 0;
    }


    .xpl-cardHeader i {
        font-size: 100px;
        padding-top: 16px;
        opacity: 0.5;
    }

    .xpl-cardDescription {
        background-color: #fff;
        padding: 12px 8px;
        border-radius: 3px;
    }

    .xpl-cardContainer:hover a{
        text-decoration: none;       
    }

    .xpl-cardHeader:hover {
        box-shadow: 0 0 30px 3px rgba(33,33,33,.2);
        transition: all 0.4s ease;
    }


    .xpl-cardHeader:hover i {
        text-decoration: none;
        animation: bounce 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
    }



    @keyframes bounce {
        from {transform: translate3d(0,0,0);}
        to {transform: translate3d(0,-20px,0);}
    }


/* ---------------------------------------------------
    2.0 Wide Card For Details View
----------------------------------------------------- */
    .xpl-wideCard {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 16px;
        background-color: #fff;
        border-radius: 3px 3px 0 0;
    }

    .xpl-cardWideHeader {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    .xpl-cardWideHeader .xpl-cardHeader {
        min-width: 250px;
    }

    .xpl-cardProjectInfo {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        align-items: baseline;
        justify-content: center;
        padding: 8px;
    }

    .xpl-cardProjectInfo p {
        font-size: 1.2em;
    }

    .xpl-cardOverviewContainer {
        margin-top: 16px;
    }



    p.xpl-cardProjectCardOverview {
        text-align: justify;
        color: #6c757d;
        padding-left: 16px;
    }

    .xpl-relatedListApps {
        display: flex;
        flex-direction: column;
    }


    .xpl-relatedListApps .xpl-cardContainer.xpl-mediumCard.xpl-shadow {
        margin-bottom: 16px;
    }

