/* ==========================================================================
 * Project Card Layout Styles 
 * 29/10/2018
 * Alan Medina Silva
 ========================================================================== */


.xpl-cardContainer {
    max-width: 350px;
    width: 100%;
    display: block;
    border-radius: 20px;
}


.xpl-cardHeader {
    background-color: #238ECC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    color: #fff;
    border-radius: 3px 3px 0 0;
}


.xpl-cardHeader i {
    font-size: 100px;
    padding-top: 16px;
    opacity: 0.5;
}

.xpl-cardDescription {
    background-color: #fff;
    padding: 12px 8px;
    border-radius: 3px;
}