/* ==========================================================================
 * Define Custom Fonts 
 * 29/10/2018
 * Alan Medina Silva
 ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');
@import url('https://flextronics365.sharepoint.com/sites/FlexSettings/Style%20Library/flexBrand/Fonts/ITCAvantGardeStd-Bold.woff');



@font-face {
  font-family: 'ITC Avant Garde';
  src: url('./fonts/ITCAvantGardeStd-Md.otf') format("OpenType"),
    url('./fonts/ITCAvantGardeStd-Bk.otf') format("OpenType"),
    url('./fonts/ITCAvantGardeStd-Bold.otf') format("OpenType"),
    url('./fonts/ITCAvantGardeStd-Demi.otf') format("OpenType"),
    url('./fonts/ITCAvantGardeStd-DemiObl.otf') format("OpenType"),
    url('./fonts/ITCAvantGardeStd-Md.otf') format("OpenType"),
    url('./fonts/ITCAvantGardeStd-MdObl.otf') format("OpenType"),
    url('./fonts/ITCAvantGardeStd-XLt.otf') format("OpenType"),
    url('./fonts/ITCAvantGardeStd-XLtObl.otf') format("OpenType");

}

@font-face {
  font-family: 'ITC Avant Garde';
  src: url('./fonts/ITCAvantGardeStd-Bk.otf') format("OpenType");
  font-weight: 200;
}

@font-face {
  font-family: 'ITC Avant Garde';
  src: url('./fonts/ie/ITCAvantGardeStd-BkObl.eot') format('embedded-opentype'),
       url('./fonts/ie/ITCAvantGardeStd-BkObl.ttf')  format('truetype'),
       url('./fonts/ie/ITCAvantGardeStd-Bold.eot')format('embedded-opentype'),
       url('./fonts/ie/ITCAvantGardeStd-Bold.ttf')format('truetype');
}


.fade-enter {
  opacity: 0.00;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  transition: all 600ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: all 600ms ease-in;
  background-color: rgba(255, 255, 255,0.8);
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}