/* ==========================================================================
 * Define Custom Fonts 
 * 29/10/2018
 * Alan Medina Silva
 ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');


@font-face {
  font-family: 'ITC Avant Garde';
  src: url('./fonts/ITCAvantGardeStd-Md.otf'),
    url('./fonts/ITCAvantGardeStd-Bk.otf'),
    url('./fonts/ITCAvantGardeStd-Bold.otf'),
    url('./fonts/ITCAvantGardeStd-Demi.otf'),
    url('./fonts/ITCAvantGardeStd-DemiObl.otf'),
    url('./fonts/ITCAvantGardeStd-Md.otf'),
    url('./fonts/ITCAvantGardeStd-MdObl.otf'),
    url('./fonts/ITCAvantGardeStd-XLt.otf'),
    url('./fonts/ITCAvantGardeStd-XLtObl.otf');

}

@font-face {
  font-family: 'ITC Avant Garde';
  src: url('./fonts/ITCAvantGardeStd-Bk.otf');
  font-weight: 200;
}


.fade-enter {
  opacity: 0.00;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  transition: all 600ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: all 600ms ease-in;
  background-color: rgba(255, 255, 255,0.8);
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}